h2 {
    font-size: 25px;
}

input, button{
    font-size: 22px;
}

#disclaimer {
    font-size: 14px;
    margin-top:10px;
}

#text-dump{
    overflow-wrap: break-word;
}

#wrapper {
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

#entry {
    display:flex;
    justify-content: center;
}

input {
    flex-grow:1;
    max-width:500px;
    min-width:100px;
}